.section-title {
    text-align: center;
}
.About {
    text-align: center;
}
.Profile {
    // box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    // transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    text-align: center;
    // border: groove;
    
}
.link-icon-container {
    display: flex;
    justify-content: center;
}

.link-icon-container a {
    padding: 0.5rem;

}

.icon {
    padding: 0.5rem;
}

.profile-pic {
    border-radius: 10px;
    max-width: 70%;
    max-height: 70%;
}
.resume-picture {
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;

}